*  
{
  box-sizing:border-box;
  font-size: 2vw;
  font-family: Nunito, 'Courier New', Courier, monospace;
}


.App {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed; 
  justify-content: center;
  color: rgb(255, 255, 255);
  }

button{
  font-size: 300%;
}

.checkbox {
  
  transform: scale(10);
  margin: .5rem;
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: inset -1px -1px 1px 1px black;

}

.checkbox:active {
  box-shadow: 0 0 10px 5px rgba(102, 138, 255, 0.5);
}

.checkbox:checked {
  box-shadow: inset 0 0 -2px -2px rgb(0, 8, 53);
  box-shadow: 0 0 8px 1px rgba(118, 200, 255, 0.5);
}

.radio {
  transform: scale(3);
  margin: .5rem;
}

.radio:active {
  box-shadow: 0 0 10px 5px rgba(102, 138, 255, 0.5);
}

.radio:active {
  box-shadow: inset 0 0 -2px -2 rgb(0, 8, 53);
  box-shadow: 0 0 8px 1px rgba(118, 200, 255, 0.5);
}

.checkboxes {
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.filters {
  margin-bottom: 1vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-items: center;
  position: relative;
  padding-bottom: .5%;
}

.weightMissing {
  border: 4px solid red;
  box-shadow: 0 0 15px 15px red;
}
.filterMissing {
  border: 4px solid red;
  box-shadow: 0 0 15px 15px red;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  
}

.divider {
  position:absolute;
    left: 23.4vw;
    top: 10%;
    bottom:35%;
    border-left:1px solid white;
}

input {
  color: black;
  font-size: 1rem;
  margin-right: 1vw;
}

.flame {
  background-image: url(../resources/images/flame.JPG);
  width: 1vw;
  height: 1vw;
}

label {
  font-size: 130%;
  margin-right: 1vw;
}

.icon {
  width: 15vw;
  height: 15vw;
  box-shadow: inset 0px 0 1vw 1vw black;
}


.checkMissing {
  border: 1px solid red;
}


.note {
  font-size: 2vw;
}

.space-right {
  margin-right: 0;
  margin-left: 0;
}

/**IMAGES**/

#pizza {
  background-image: url('../resources/images/pizza.JPG');
  background-repeat: no-repeat;
  background-size:cover;
}

#cake {
  background-image: url('../resources/images/cake.JPG' );
  background-repeat: no-repeat;
  background-size:cover;
}
#cupcake {
  background-image: url('../resources/images/cupcake.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#skittles{
  background-image: url('../resources/images/skittles.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#icecream{
  background-image: url('../resources/images/icecream.JPG');
  background-repeat: no-repeat;
  background-size: cover;

}

#twizzlers{
  background-image: url('../resources/images/twizzlers.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#frenchfries{
  background-image: url('../resources/images/frenchfries.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#eminems{
  background-image: url('../resources/images/eminems.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#cheesecake{
  background-image: url('../resources/images/cheesecake.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

.lbselected{
  color: red;
}

.kgselected{
  color: red;
}

.kgButton {
  font-family: sans-serif;
  font-style: italic;
  font-size: 1vw;
  font-weight: bold;
  padding: .3vw;
  color:  black;
  border: 1px solid black;
  border-radius: 16%;
  margin-left: -.1vw;
}

/*END IMAGES */

.tile:hover {
  background-color: rgb(218, 218, 218);
}
button:active {
  transform: translateX(8px);
  box-shadow: 
  1px 3px 2px 2px rgb(255, 78, 78),
  -1px -1px 2px 2px rgb(255, 255, 85),
  3px 1px 2px 2px #6363ff;
}

.tile  {
  font-size: 2vw;
  color:  black;
  border: 1px solid black;
  box-shadow: 
  inset 0px 0px .2vw .2vw hsla(255, 0%, 0%, 0.5),
  .1vw .1vw .1vw .1vw rgb(255, 78, 78),
  .2vw .2vw .1vw .1vw rgb(255, 255, 85),
  .3vw .3vw .1vw .1vw #6363ff,
  .4vw .4vw .1vw .1vw green;
  border-radius: 20%;
  font-size: 4vw;
  margin: 1vw;
  padding: .7vw;
  display: flex;
  width: 18vw;
  height: 18vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.opening-closed{
  display: none;

}

.opening-open{
  color: white;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  border-radius: 2%;
  box-shadow: inset 0 0 1vw .1vw red ;
  box-shadow: 0px 0px 1vw -.1vw rgb(216, 35, 35),;
}


.tiles {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 99vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 2%;
  box-shadow: inset 0 0 1vw .1vw rgba(255, 35, 35, 0.425) ;
  box-shadow: 0px 0px 1vw -.1vw rgba(216, 35, 35, 0.425),;
}

.stack {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.input-opened {
  border-radius: 1%;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;
  align-items: center;
}

.open-list{
  font-size: 4vw;
}

.results-closed {
  display: none;
}

.header {
  font-size: 3vw;
}

ul{
  list-style-type: none;
  font-size: 2vw;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list{
  text-align: center;
  align-items: center;
  justify-content: left;
  overflow: scroll;
  margin-left: -3.5vw;
  height: 100%;
  width: 95%;
}

::-webkit-scrollbar {
  width: .5vw;
  height: .5vw;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius:5vw;
}

::-webkit-scrollbar-corner {
  display: none;
}


.App-link {
  color: #61dafb;
}


h1 {
  font-size: 5vw;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1.8vw;
  color: red;
  text-align: center;
  margin-top: -5%;
}

h3 {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
  margin: 0;
}

h4 {
  font-size: 1vw;
  margin-top: -1vw;
  margin-bottom: -.2vw;

}

li {
  font-size: 3.5vw;
  margin-left: -3.5vw;
}

h5 {
  font-size: 1.1vw;
  font-weight: 2000;
  margin-top: -2vw;
  margin-bottom: 1.5vw;
}


@media (prefers-reduced-motion: no-preference) {
.input-closed {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height:100%;
  display: none;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-around;
  animation: input-closed ease-in .5s;
  animation-fill-mode: forwards;
}

  .results-opened {
  margin: auto;
  padding: 0;
  align-items: center;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  animation: results-opened ease-in .3s;
  animation-fill-mode: forwards;
  border-radius: 5%;
  box-shadow: 0px 0px 1vw -.1vw rgb(216, 35, 35);
  z-index: 2;
  }


}

@keyframes input-closed {
  from {
    transform: scale(0);
    z-index: 0;
    display: show;
    min-height: 10vh;
  }
  to {
    transform: scale(0);
    z-index:-1;
    display: none;
  }

}

@keyframes results-opened {

  from {
    transform: scaleY(0);
    transform: translateY(100%);  
    z-index: -1;
    display: none;
  }
  to {
    transform: scaleY(1);
    z-index:0;
    display: show;

  }
}

@media screen and (max-aspect-ratio: 1/1)  {
  .checkbox {
    transform: scale(1.2);
    margin: .5rem;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: inset -1px -1px 1px 1px black;
  }

  .tile {
    width: 18vh;
    height: 18vh;

  }

  .results-opened{
    height: 50vh;
  }

}
  
@media screen and (max-aspect-ratio: 1/1) and (orientation: landscape){
  .checkbox {
    transform: scale(1.2);
    margin: .5rem;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: inset -1px -1px 1px 1px black;
  }

  .tile {
    width: 18vh;
    height: 18vh;

  }
  html{
  transform: rotate(-90deg);
  transform-origin: left bottom;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}

.opening-open{
  height: 90%;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  border-radius: 2%;
  box-shadow: inset 0 0 1vw .1vw red ;
  box-shadow: 0px 0px 1vw -.1vw rgb(216, 35, 35),;
}
}

