*  
{
  box-sizing:border-box;
  font-size: 2vw;
  font-family: Oswald, 'Courier New', Courier, monospace;
  letter-spacing: 1vw;
}


.App {
  background-image: url('../resources/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed; 
  justify-content: space-around;
  color: rgb(255, 255, 255);
   }

.buttons {
  display: flex;
  flex-direction: row;
 align-items: center;
}

.button{
  background-color: #fafafa;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 8vw;
  font-weight: 800;
  justify-content: center;
  line-height: 4vw;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  touch-action: manipulation;
}

.button:focus {
  outline: 0;
}

.button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button:hover:after {
  bottom: 2px;
  left: 2px;
 
}

.checkbox {
  transform: scale(10);
  margin: .5rem;
  margin-left: 1vw;
  margin-right: 1vw;

}

.checkbox:active {
  box-shadow: 0 0 10px 5px rgba(102, 138, 255, 0.5);
}

.checkbox:checked {
  box-shadow: inset 0 0 -2px -2px rgb(0, 8, 53);
  box-shadow: 0 0 8px 1px rgba(118, 200, 255, 0.5);
}


.checkboxes{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}



.filters {
  margin-bottom: 1vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-items: center;
  position: relative;
  padding-bottom: .5%;
}

.weightFilter {
  font-size: 10vw;
  width: 100%;
  box-shadow: inset 0 0 1vw 1vw rgba(0, 0, 0, 0.363);
}

.workoutFilter {
  font-size: 7vw;
  margin-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  
}

.intensity {
  font-size: 10vw;
}

.labels {
  justify-content: space-evenly;
  margin-left: -10vw;
  font-size: 7vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.divider {
  position:absolute;
    left: 23.4vw;
    top: 10%;
    bottom:35%;
    border-left:1px solid white;
}

input {
  color: black;
  font-size: 1rem;
  margin-right: 1vw;
}

.flame {
  background-image: url(../resources/images/flame.JPG);
  width: 1vw;
  height: 1vw;
}

label {
  font-weight: 600;
  font-size: 130%;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 1vw;
  border: .2vw solid black;
  box-shadow: 1vw 1vw 0 .5vw rgba(0, 0, 0, 0.733);
}

.icon {
  width: 50%;
  height: 20vh;
  box-shadow: inset 0px 0 1vw 1vw rgba(71, 71, 71, 0.705);
}


.note {
  font-size: 4vw;
  font-style: italic;
}

.space-right {
  margin: 7.5vw;
  margin-left: -12vw;
}

/**IMAGES**/

#pizza {
  background-image: url('../resources/images/pizza.JPG');
  background-repeat: no-repeat;
  background-size:cover;
}

#cake {
  background-image: url('../resources/images/cake.JPG' );
  background-repeat: no-repeat;
  background-size:cover;
  opacity: 0.7;
}
#cupcake {
  background-image: url('../resources/images/cupcake.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#skittles{
  background-image: url('../resources/images/skittles.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#icecream{
  background-image: url('../resources/images/icecream.JPG');
  background-repeat: no-repeat;
  background-size: cover;

}

#twizzlers{
  background-image: url('../resources/images/twizzlers.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#frenchfries{
  background-image: url('../resources/images/frenchfries.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#eminems{
  background-image: url('../resources/images/eminems.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#cheesecake{
  background-image: url('../resources/images/cheesecake.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#onionrings{
  background-image: url('../resources/images/onionrings.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#pancakes{
  background-image: url('../resources/images/pancakes.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#bamba{
  background-image: url('../resources/images/bamba.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#xl{
  background-image: url('../resources/images/xl.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#cocacola{
  background-image: url('../resources/images/cocacola.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#hamburger{
  background-image: url('../resources/images/hamburger.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#snickers{
  background-image: url('../resources/images/snickers.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#mars{
  background-image: url('../resources/images/mars.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#cookies{
  background-image: url('../resources/images/cookies.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#brownie{
  background-image: url('../resources/images/brownie.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#worms{
  background-image: url('../resources/images/worms.JPG');
  background-repeat: no-repeat;
  background-size:cover;
}
.lbselected{
  font-size: 10vw;
  color: rgb(0, 0, 0);
}

.kgoff{
  color: rgba(128, 128, 128, 0.356);
}

.lboff{
  color: rgba(128, 128, 128, 0.199);
}

.kgselected{
  font-size: 10vw;
  color: rgb(5, 5, 5);
}

.kgButton {
  font-size: 9vw;
  font-weight: bold;
  padding: .3vw;
  color:  black;
  inset: 0 0 1vw 1vw black;
  border: 1px solid black;
  border-radius: 16%;
  margin-left: -.1vw;
}

/*END IMAGES */

button:active {
  transform: translateX(8px);
  box-shadow: 
  1px 3px 2px 2px rgb(255, 78, 78),
  -1px -1px 2px 2px rgb(255, 255, 85),
  3px 1px 2px 2px #6363ff;
}

.tile  {
  font-size: 2vw;
  color:  black;
  border: 1px solid black;
  box-shadow: 
  inset 0px 0px .2vw .2vw hsla(255, 0%, 0%, 0.5),
  .1vw .1vw .1vw .1vw rgb(255, 78, 78),
  .2vw .2vw .1vw .1vw rgb(255, 255, 85),
  .3vw .3vw .1vw .1vw #6363ff,
  .4vw .4vw .1vw .1vw green;
  border-radius: 20%;
  font-size: 4vw;
  margin: 1vw;
  padding: .7vw;
  display: flex;
  width: 18vw;
  height: 18vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tile:active {
  filter: blur(10px);

}

.opening-closed{
  display: none;

}

.opening-open{
  color: white;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  border-radius: 2%;
  box-shadow: inset 0 0 1vw .1vw red ;
  box-shadow: 0px 0px 1vw -.1vw rgb(216, 35, 35),;
}


.stack {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.input-opened {
  padding: 1vw;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: inset 0px 0px 1.5vw 1vw rgba(15, 15, 15, 0.616);
  flex-direction: column;
  align-content: center;
  justify-content: start;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.filters-opened {
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.filters-closed {
  display: none;
}

.open-list{
  font-size: 6vw;
}


.results-closed {
  display: none;
}

.header {
  font-size: 3vw;
}

ul{
  list-style-type: none;
  font-size: 4vw;
}

.list-item{
  font-size: 5vw;
  background-color: #000000;
  box-shadow: 1.4vw .6vw 0 .09vw rgba(31, 31, 31, 0.267), 1vw 1vw  0 .1vw rgb(255, 255, 255);
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  margin-right: 4vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list{
  box-shadow: inset 0 0 2000px 1px rgba(68, 68, 68, 0.781);
  text-align: center;
  align-items: center;
  justify-content: left;
  overflow: scroll;
  position: relative;
  height: 60%;
  width: 100%;
}

::-webkit-scrollbar {
  width: .5vw;
  height: .5vw;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius:5vw;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-input-placeholder {
  text-align: center;
}


.App-link {
  color: #61dafb;
}



h1 {
  color: black;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  font-size: 10vw;
  text-align: center;
  margin: 0;
}

h2 {
  color: black;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  font-size: 8vw;
  width: 100%;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
  margin: 0;
}

h4 {
  font-size: 1vw;
  margin-top: -1vw;
  margin-bottom: -.2vw;

}

li {
  font-size: 3.5vw;
  margin-left: -3.5vw;
}

h5 {
  font-size: 1.1vw;
  font-weight: 2000;
  margin-top: -2vw;
  margin-bottom: 1.5vw;
}



@media (prefers-reduced-motion: no-preference) {

  .weightMissing {
    font-size: 10vw;
    width: 100%;
    animation: 1s linear infinite alternate pulse;
  }
  .filterMissing {
    transform: scale(2);
    margin: .5rem;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: inset 0 0 .1vw .1vw black;
    animation: 1s linear infinite alternate checkpulse;
    }
  
  .tiles {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: hidden;
    overflow-x: scroll;
    animation: slideleftroll ease-in .4s;
  }

#li1{
  animation: slideleft  1s;

}
#li2{
  animation: slideleft  1.3s;

}
#li3{
  animation: slideleft  1.6s;

}
#li4{
  animation: slideleft  1.9s;

}
.input-closed {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height:100%;
  display: none;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-around;
  animation: input-closed ease-in .5s;
  animation-fill-mode: forwards;
}

  .results-opened {
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  height:80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  animation: results-opened ease-in .3s;
  animation-fill-mode: forwards;
  border-radius: 5%;
  box-shadow: 0px 0px 1000vw 0 rgb(110, 110, 110);
  z-index: 2;
  }

  .linethrough {
    font-size: 8vw;
    text-decoration: line-through;
    animation: 2s linear infinite alternate linethrough;
  }

}

@keyframes checkpulse{
 from {
   transform: scale(2);
 }to{
  transform: scale(2.7)
 }
}
@keyframes pulse{
  from {
    box-shadow: inset 0 0 5vw 5vw rgba(175, 1, 1, 0);
    transform: scale(1)
  }to{
   box-shadow: inset 0 0 5vw 5vw rgba(175, 1, 1, 0.466);
   transform: scale(1.1)
  }
 }
@keyframes slideleft{
  from{
  filter: blur(10px);
  transform: translateX(100%)
  }
  to{
  transform: translateX(0);
  filter: blur(0)
  
  }
}

@keyframes slideleftroll{
  from{

  filter: blur(10px);
  transform: translateX(100%);
  transform: rotate(90deg);
  }
  to{
  transform: translateX(0);
  filter: blur(0);
  transform: rotate(0);
  
  }
}


@keyframes input-closed {
  from {
    transform: scale(0);
    z-index: 0;
    display: show;
    min-height: 10vh;
  }
  to {
    transform: scale(0);
    z-index:-1;
    display: none;
  }

}

@keyframes linethrough {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(5px);
  }
}

@keyframes results-opened {

  from {
    transform: scaleY(0);
    transform: translateY(100%);  
    z-index: -1;
    display: none;
  }
  to {
    transform: scaleY(1);
    z-index:0;
    display: show;

  }

}

@media screen and (min-aspect-ratio: 1/1){
  *{
    font-size: 50%;
  }
}

@media screen and (max-aspect-ratio: 1/1)  {
  .checkbox {
    transform: scale(2);
    margin: .5rem;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .tile {
    width: 18vh;
    height: 18vh;

  }

  .results-opened{
    min-height:50vh;
  }

}

@media screen and (min-aspect-ratio: 1/1){


    .filters-opened {
      height: 10vh;
    }

    .checkboxes{
      height: 100%;
    }

    .checkbox{
      transform:scale(.5);
    }

    input{
      font-size: 10px;
      
    }

    .weightInput {
      font-size: 10px;
    }

    .kgButton{
      font-size: 8vh;
    }

    .intensity{
      font-size: 5vh;
    }
    .lbselected {
      font-size: 10vh;
    }

    button{
      font-size: 3vh;
    }

    button:after{
      background-color: black;

    }
    .kgselected {
      font-size: 10vh;
    }

    .App {
      background-image: url('../resources/images/background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: fixed; 
      justify-content: space-around;
      color: rgb(255, 255, 255);
      }

  .list{
    height: 100%;
  }

  .opening-open{
    height: 80%;
  }


  .open-list{
    font-size: 6vh;
    height: 12vh;
  }

  li{
    font-size: 1vh;
  }
}
  
@media screen and (max-aspect-ratio: 1/1) and (orientation: landscape){
  .checkbox {
    transform: scale(1.2);
    margin: .5rem;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: inset -1px -1px 1px 1px black;
  }

  .tile {
    width: 18vh;
    height: 18vh;

  }
  html{
  transform: rotate(-90deg);
  transform-origin: left bottom;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}

.opening-open{
  height: 90%;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  border-radius: 2%;
  box-shadow: inset 0 0 3vw 1vw rgba(255, 0, 0, 0.514) ;
  box-shadow: 0px 0px 1vw -.1vw rgb(216, 35, 35),;
}
}

